.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.demoSelector{
  margin-top: 10px;
}

.demo-title{
  border-bottom: 1px solid black;
}
.demo-container{
  /*display: flex;*/
  /*flex-direction: column;*/
  width: 40%;
  margin: 10px auto 0 auto;
  padding: 15px 0;
  border: 1px solid #4b4b4b;
  border-radius: 6px;
}


.outputFields{
  display: flex;
  flex-direction: row;
  margin: auto auto;
}
.outputFieldsKey{
  color: #5a2b2a;
  padding: 8px;
}
.outputFieldsValue{
  padding: 8px;
}

/*.projectID{*/
  /*display: flex;*/
  /*flex-direction: row;*/
/*}*/
